h1.h1head{
  color: black;
}
@media (min-width:767px) {
.App {
  text-align: center;
  width: 100%;
  background: url('https://img.wallpapersafari.com/desktop/1680/1050/94/57/dCs6qR.png');
  padding: 2.5%;
  background-size: contain;
}
.whole-app-wrapper{
  width: 100%;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #f4fcff;
 
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
.h1head{
  padding-top: 2%;
  padding-bottom: 2%;
  width: fit-content;
  margin: 3% 2;
  border-radius: 20px;
  margin: auto;
}

span.text-red{
color: #ec0b0b;
} 
span.text-green{
  color: rgb(3, 97, 3);
}
span.text-blue{
  color: blue;
}
}
@media (min-width:1150px) {
  .Container{
      width: 100%;
  }
  }
  
  @media (min-width:767px) and (max-width:1150px){
      .Container ,.table{
          width: 98% !important;
          margin: 0% 1%;
      }
      
  }

  @media (max-width:767px) {
    span.text-red{
      color: #ec0b0b;
      } 
      span.text-green{
        color: rgb(3, 97, 3);
      }
      span.text-blue{
        color: blue;
      }
      .table td, .table th {
        padding: 0.5rem !important;
      }
      h1.h1head {
        font-size: 24px;
        text-align: center;
        margin: 5%;
    }
    .table{
      margin-top: -5%;
      background:aliceblue;
    }
    .isDash {
      width: 96%;
      text-align: center;
      margin: 2%;
      background:aliceblue;
  }
  }